/* 全局样式 */
@import "common";

a,
aside,
body,
dd,
div,
dl,
dt,
figcaption,
figure,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
img,
li,
mark,
p,
section,
span,
ol,
ul {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

dd,
dl,
dt,
li,
ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	border: none;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.flexh{
	display: flex;
	justify-content: center;
	align-items: center;
}
.flexv{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

html {
	width: 100%;
	font-size: 625%;
}

body {
	width: 100%;
	background-color: #ffffff;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 0.16rem;
	font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	overflow-x: hidden;
}

/* 咨询图标 */
.float{
	position: fixed;
	z-index: 200;
	right: .1rem;
	top: 50%;
	transform: translateY(-50%);
	width: .4rem;
	height: 1rem;
	background: url('../imgs/mobial/refer_mobile.png');
	background-size: 100% 100%;
}

/* 测试 部分 */
.aboutus{
	margin: 50px auto;
	width: 500px;
	height: 500px;
	border: 2px solid red;
	display: flex;
	justify-content: center;
	align-items: center;
   background: #272782; 
}
