{
   "env": {
      "es6": true,
      "browser": true
   },
   "extends": "eslint:recommended",
   "parser": "babel-eslint",
   "rules": {
      "no-console": 0,
      "experimentalDecorators": 0
   },
   "globals": {
      "Swiper": true,
      "$": true,
      "jquery": true
   }
}
