@charset "UTF-8";
/* 全局样式 */
a,
aside,
body,
dd,
div,
dl,
dt,
figcaption,
figure,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
img,
li,
mark,
p,
section,
span,
ol,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

dd,
dl,
dt,
li,
ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  border: none;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.flexh {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexv {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

html {
  width: 100%;
  font-size: 625%;
}

body {
  width: 100%;
  background-color: #ffffff;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.16rem;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  overflow-x: hidden;
}

/* 咨询图标 */
.float {
  position: fixed;
  z-index: 200;
  right: .1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: .4rem;
  height: 1rem;
  background: url("../imgs/mobial/refer_mobile.png");
  background-size: 100% 100%;
}

/* 测试 部分 */
.box {
  margin: 50px auto;
  width: 500px;
  height: 500px;
  border: 2px solid red;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#header {
  height: 50px;
  width: 100%;
  text-align: right;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 40px;
  background-color: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header .btn {
  height: 100%;
  width: 30%;
  border: 1px solid red;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .btn button {
  height: 40px;
  width: 40%;
  font-size: 20px;
}

#fullpageMenu {
  width: 68%;
  height: 100%;
  border: 1px solid blue;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#fullpageMenu li {
  height: 100%;
  width: 20%;
  color: #333;
}
